// Color
$primary-color: #191919;
$secondary-color: #b61984;

// Breakpoint
$breakpoint: (
    'Small': 576px,
    'Medium': 768px,
    'Large': 992px,
    'Extra-large': 1200px,
    'Extra-extra-large': 1400px
);